body{
	font-family: "黑体";
	font-size: 14px;
	background-color: #DEDEDE;
	box-sizing:border-box;
	border:0px;
	margin: 0;
	min-width: 800px;
}
.header{
	background-color: #333;
	position: relative;
	width: 100%;
	height: 70px;
}
.header img{
	position: absolute;
	top: 20px;
	left: 32px;
}

.header nav ul{
	float: right;
	margin:0;
	padding: 0;
}
.header ul li{
	float: left;
	margin-right: 20px;
	line-height: 70px;
	width: 80px;
}

.header ul li a{
	color: #FFF;
	text-decoration: none;
}
.header a:hover{
	color:gray;
}
article{
	margin:40px 450px 20px 40px;
	padding: 20px;
	line-height: 1.5;
	background-color: #FFF;
  	box-shadow: 2px 2px 2px #848484;
}
.color-gray{
	color: gray;
}
article .word{
	text-indent: 2em;
}
article .no-list{
	list-style: none;
}

article .thumbnail{
	height: 120px;
	text-align: center; 
	width: 140px;
	border:1px solid #aaa;
	margin: 14px 40px 20px 40px;
	padding-bottom: 10px;
	display: inline-block;
}
article .thumbnail p{
	padding: 10px;
	margin: 0;
}

aside{
	width: 350px;
	background-color: #fff;
	float: right;
	padding: 20px;
	margin-top: 40px;
	margin-right: 20px;
	box-shadow: 2px 2px 2px #848484;
}

aside h3{
	padding-left: 10px;
	border-left:3px solid #ccc;
}
form{
	min-width: 300px;
	width: 100%;
}
form>div{
	margin: 10px 0;
}
.input-message{
	width:30%;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 20px;
	margin-top: 10px;
	text-align: right;
}
.input-messages{
	width:30%;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 10px;
	margin-top: 10px;
	text-align: right;
}
.ps{
	width: 30%;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 20px;
	margin-top: 10px;
	text-align: right;
	vertical-align: top;
}

.demand{
	font-size: 13px;
  	color: gray;
  	margin-left: 37.5%;
}
textarea{
	margin-top: 10px;
	margin-left: -10px;
	width: 50%;
	height: 100px;
}

input[type='submit']{
	width: 100%;
	height: 40px;
	background-color: #3355D0;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	border: 1px solid #3355D0;
	font-weight: 800;
	margin-bottom: -10px;
}
#tab table{
	width: 100%;
	margin:0 auto;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

thead{
  background: #333;
  color: white;
}

tfoot{
  background: #ccc;
  font-weight: bold;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #000;
	color:#fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 60px;
	text-align: center;	
}