html{
	min-width: 1280px;
	overflow-y:hidden; 
}
body{
	margin: 0;
	padding: 0;
}

header{
	min-width: 1280px;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: #2189bf;
}
#logo{
	margin:10px 50px; 
}
.search{
	position: absolute;
	right: 190px;
	top: 13px;
}
.search input{
	width: 180px;
	border-radius: 15px;
	height: 28px;
	border-width: 0px;
	padding-left: 40px;
}
#ser{
	position: absolute;
	right: 190px;
	bottom: 6px;
}
.login{
	position: absolute;
	right: 150px;
	top:20px;
}
.login span a{
	text-decoration: none;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#fff;
	position: absolute;
	right: -30px;
	bottom: 2px;
}
content{
	width: 100%;
}

.aside{
	width: 260px;
	height: 100%;
	background-color: #2a2e3d;
	float: left;
	position: absolute;
	top:56px;
	bottom: 0px;
	left: 0px;
	overflow-y:auto; 
}
.l_content{
	min-width: 1020px;
	position: absolute;
	top:56px;
	bottom: 0px;
	left: 260px;
	right: 0px;
	overflow: hidden;
	overflow-y:auto; 
}
.info{
	height: 150px;
}
.user_photo{
	position: relative;
	height: 110px;
	padding: 20px;
}
.circle_out{
	position: absolute;
	left: 46px;
	top: 18px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid #c7c5c6;
}
.circle_in{
	width: 85%;
	height: 85%;
	margin: 4.2px;
	border-radius: 50%;
	background-color: #c7c5c6;
}

.info p{
	margin: 0;
	position: absolute;
	left: 120px;
	top: 22px;
	font-size: 16px;
	font-family: Arial;
	line-height: 56px;
	color: #fff;
}
.follow{
	position: absolute;
	top:80px;
}
.follow ul{
	padding-left: 5px;
}
.follow ul li{
	display: inline-block;
	padding: 0 30px;
}
.follow ul li:first-child{
	border-right: 1px solid #576477;

}
.follow li a{
	color:#576477;
	font-size: 14px;
	font-family: "微软雅黑";
	text-decoration: none;
}	
.follow span{
	font-size: 12px;
}
li a:hover{
	color:#e91eb8;
	cursor:pointer;
}
menu{
	padding:5px 15px 10px;
}
menu img{
	margin-right: 10px;
}
menu ul{
	list-style: none;
	font-family: "微软雅黑";
	color:#fff;
}
#bg{
	background-color: #383d4e;
}
#no_bg{
	margin:0;
	padding: 0 15px;
}
.personal_collect,.my_share,.images,.growth_record,.account_info{
	padding-left: 0;
	font-size: 14px;
	margin-bottom: 30px;
	color: #576477;
}
.personal_list{
	padding-left: 0;
	font-size: 14px;
}
.personal_list li{
	margin-top: 20px;
}

.file li:first-child,.file li:nth-child(3),.doc li:nth-child(2){
	color: #576477;
}

.doc li:first-child{
	color:#fff;
}

.file{
	padding-left: 22px;
	font-size: 10px;
}

.file #sec{
	margin-right: 8px;
}

.doc li{
	margin-top: 15px;
	font-size: 5px;
}
.doc img{
	margin-right: 5px;
	margin-bottom: -1px;
}

.nav{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	height: 30px;
	color:#aaa;
	font-size:12px; 
	padding:0 30px;
}
.nav a{
	text-decoration: none;
	color:#aaa;
	font-size: 12px;
	line-height: 30px;
	padding:0 6px;
}
.nav a:hover{
	color: #2189bf;
	cursor: pointer;
}
.nav a:nth-child(4){
	color:#2189bf;
}
.text{
	overflow: hidden;
	background-color: #eeeeed;
	/*height: 100%;*/
	padding:20px 60px;
}
.search_info{
	position: relative;
	height: 90px;
	background-color: #fff;
	box-shadow:1px 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 8px;
}
.search_info .button_default{
	position: absolute;
	right: 50px;
	top: 36px;
}
.search_item{
	width: 15%;
	position: absolute;
	top:15px;
	left: 35px;
	padding: 0px;
	margin: 0px;
}
.gray{
	font-size: 10px;
	color:#aaa;
	padding:0 4px;
}
.which_item{
	position: relative;
	height: 23px;
	display: inline-block;
	border: 1px solid #aaa;
	font-size: 10px;
	line-height: 23px;
	padding-left: 8px;
	padding-right: 20px;
}
.which_item:hover{
	cursor: pointer;
}
.which_item img{
	position: absolute;
	right: 5px;
	top:9px;
}
.people{
	width: 20%;
	display: inline-block;
	position: absolute;
	top:15px;
	left: 220px;
}
.people > .which_item{
	padding-right: 100px;
}
.sell{
	position: absolute;
	top: 30px;
	left: 36px;
}
.seller{
	position: absolute;
	top:36px;
}
.people > #change{
	position: absolute;
	left: 176px;
	top: 10px;
}
.change_word{
	font-size: 10px;
	color:#fff;
	position: absolute;
	left: 189px;
	top:23px;
}
.search_detail{
	width: 35%;
	position: absolute;
	top:15px;
	left: 500px;
}
.search_detail > .date{
	padding-right: 50px;
	cursor: auto;
}
.search_detail > .total_time{
	padding-right: 50px;
}
.search_detail > .no_people{
	position: absolute;
	top: 42px;
}
.search_detail > .one_people{
	position: absolute;
	top: 35px;
	left: 36px;
	padding-right: 50px;
}
.search_detail > .deal_project{
	position: absolute;
	top: 42px;
	left: 120px;
}
.search_detail > .three_items{
	position: absolute;
	top: 35px;
	left: 180px;
	padding-right: 98px;
}
.m_hs{
	height: 65px;
	position: relative;
	margin-bottom: 8px;
}
.lists{
	height: 100%;
	padding-right: 150px;
}
.list_box{
	width: 100%;
	padding: 0 30px 0 36px;
	position: relative;
	box-sizing:border-box;
}
.scroll{
	float: left;
	width: 30px;
	height: 65px;
	display: inline-block;
	background-color: #fff;
	background-image: url("../images/task9_prev_arrow.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.pre{
	position: absolute;
	left: 0px;
	top: 0px;
}
.next{
	position: absolute;
	right: 0px;
	top: 0px;
	background-image:url("../images/task9_next_arrow.png");
}

.lists ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.lists li{
	box-sizing:border-box;
	display: inline-block;
	float: left;
	width: 16.6%;
	height: 65px;
	background-color:#fff;
	text-align:center;
	border-right:4px solid #eeeeed;
}
.clearfix{
	*zoom:1;
}
.clearfix:before,.clearfix:after{
	content:" ";
	display: table;
}
.clearfix:after{
	clear:both;
	overflow: hidden;
}

.about_info{
	width: 141px;
	height: 65px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color:#fff; 
}
.history_info p ,.deal_num p{
	font-size: 10px;
	font-family: Arial;
	border-top: 4px solid #fff;
	padding: 5px 4px 0 0;
	margin: 0px;
}
.history_info .active{
	border-top: 4px solid #2189bf;
}
.history_info h2{
	font-family: Arial;
	font-size:22px;
	color: #ec6500;
	margin: 0;
	padding: 0;
	line-height: 2em;
	font-weight: normal;
}

.history_info span{
	font-size: 14px;
	color:#aaa;
}
.about_info img{
	position: absolute;
	left: 20px;
	top:15px;
}
.hs{
	border: none;
	padding: 0px;
	position: absolute;
	left: 68px;
	top: 22px;	
}
.April_sta{
	margin-left: -2%;
}
.title{
	margin:20px 0px 15px;
	font-size: 10px;
	font-family:"微软雅黑";
}
.April_sta .m_deal{
	width: 25%;
	height: 70px;
	float: left;
	padding-left: 2%;
	position: relative;
	box-sizing:border-box;
	margin-bottom: 10px;
}
.deal_num{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 90%;
	/*height: 100%;*/
	padding-top: 8px;
	background-color:#fff; 
}
.green{
	border-left: 3px solid #43b29e;
}
.blue{
	border-left: 3px solid #2189bf;
}
.red{
	border-left: 3px solid #d04a36;
}
.yellow{
	border-left: 3px solid #e2cd46;
}
.deal_num p{
	padding:0 0 0 10%;
	line-height: 28px;
	border:none;
}
.deal_num span{
	padding: 0 0 0 10%;
}
.color_box{
	width: 60px;
	height: 46px;
	position: absolute;
	right:25px;
	top:12px;
}
.green_box{
	background-color: #43b29e;
}
.blue_box{
	background-color: #2189bf;
}
.red_box{
	background-color: #d04a36;
}
.yellow_box{
	background-color: #e2cd46;
}

.first_project{
	width: 100%;
	height: 100%;
	margin-bottom: 8px;
}
.left_info{
	width: 59%;
	border:1px solid #d7d5d6;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
}
.right_info{
	width: 40%;
	border-radius: 8px;
	border:1px solid #d7d5d6;
	overflow: hidden;
	box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
}
.first_project .left_info{
	float: left;
}
.first_project .right_info{
	float: right;
}
.statistic .left_info{
	float: right;
}
.statistic .right_info{
	float: left;
}
.top_title{
	width:100%;
	height: 40px;
	background-color: #f4f5f6;
	border-bottom: 1px solid #e6e6e8; 
}
.left_table,.right_table{
	width: 100%;
	height: 300px;
	background-color: #fff;
	box-sizing:border-box;
}

.first_project .gray,.statistic .gray{
	margin-left: 15px;
	line-height: 40px;
}

.left_info .left_table{
	padding: 12px 36px 23px;
}
.table_head{
	margin: 0px;
	padding: 0px;
}
.table_head li{
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 15%;
	height: 27px;
	text-align: center;
	line-height: 27px;
	font-size: 10px;
	font-family: "微软雅黑";
	border-radius: 3px 3px 0 0;
}
.active_head{
	background-color: #fff;
	border: 1px solid #cdcacd;
	border-bottom: 1px solid #fff;
}
.no_active_head{
	background-color: #ededf0;
	border-bottom: 1px solid #cdcacd;
}
.table_body{
	padding: 3%;
	margin-top: -1px;
	border:1px solid #cdcacd;
}
.table_body table{
	font-size: 10px;
	font-family: "宋体";
	border-collapse: collapse;
}
.table_body td{
	height: 28px;
	width: 15%;
	padding-left: 5%;
	text-align: left;
	line-height:27px;
	border:1px solid #cdcacd;
}
.fp_rt{
	padding: 12px 28px 0;
}
.fp_rt .gray{
	padding: 0;
	margin: 0;
	display: block;
	line-height: 20px;
}
.fp_rt .word{
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: "微软雅黑";
	line-height: 20px;
}
.fp_rt ul{
	margin: 0;
	padding: 0; 
	height: 43px;
	list-style: none;
	border: 1px solid #cdcacd;
	border-left: none;
	border-right: none;
	box-sizing:border-box;
}
.fp_rt li{
	float: left;
	margin: 0;
	padding-left: 13px;
	padding-top: 3px;
	width: 65%;
	list-style: none;
	box-sizing:border-box;
}
.fp_rt li:first-child{
	border-right: 1px solid #cdcacd;
	width: 35%;
}
.detail{
	height: 143px;
	border-bottom: 1px solid #cdcacd;
}
.foot{
	padding: 10px 10px 10px 0px;
	height: 26px;
	position: relative;
}
.foot input{
	cursor: pointer;
}
.foot .gray{
	display: inline;
}
.button_default{
	position: absolute;
	right:10px;
	top: 12px;
	color: #fff;
	background-color: #2189bf;
	border:#2189bf;
	padding:3px 13px;
	font-size: 12px;
	border-radius:3px; 
	cursor: pointer;
}
.sta_rt{
	padding: 0;
}
.m_date{
	padding: 0 20px;
	margin: 0;
}
.change{
	width: 100%;
	padding: 6px 0;
	margin: 0;
}
.year,.month,.n_date,.back_to_today{
	font-size: 10px;
	font-family: "微软雅黑";
	text-align: center;
	position: relative;
	line-height: 25px;
	float: left;
	width: 24%;
	margin-right: 2%;
	padding-right: 15px;
	border: 1px solid #cdcacd;/**/
	box-sizing:border-box;
}
.back_to_today{
	width: 22%;
	margin-right: 0;
	padding-right: 0;
}
.year_detail>img,.month_detail>img,.date_detail>img{
	position: absolute;
	right: 10px;
	top:10px;
	cursor: pointer;
}
.date_list{
	margin: 0;
	padding: 0;
	width: 100%;
}
.sta_rt .date_list_head{
	height: 30px;
	border-top: 1px solid #2189bf;
	border-bottom: 1px solid #aaa;
	list-style: none;
	margin:0;
	padding:0;
}
.sta_rt  li{
	float: left;
	height: 40px;
	font-size: 10px;
	line-height: 30px;
	width: 14.28%;
	text-align: center;
}
.date_list_body li{
	line-height: 18px;
	font-family: Arial;
	font-weight: bolder;
}
.date_list_body{
	list-style: none;
	margin: 0;
	padding: 0;
}
.holiday span{
	color:#e91e1e;
	font-family:"微软雅黑";
	font-weight: normal; 
}
.weekend b{
	color:#e91e1e;
}
.sta_lt{
	padding: 18px 40px 0;
}
.sta_lt table{
	border-collapse: collapse;
	border:1px solid #cbcccc;
	width: 100%;
}
.sta_lt thead td:last-child>span{
	text-align: center;
	width: 30%;
}
.sta_lt tbody{
	width: 100%;
}
.sta_lt tr{
	font-size: 10px;
	height: 22px;
	border:1px solid #cbcccc;
	box-sizing:border-box;
}
.sta_lt td{
	border:1px solid #cbcccc;
	text-align: center;
	padding: 0;
}
.sta_lt tr:hover{
	background-color: #ededf0;
}
.sta_lt tr:first-child:hover{
	background-color: #fff;
}
.sta_lt td:first-child, .sta_lt td:nth-child(2){
	width:20%;
}
.sta_lt td:nth-child(3){
	width: 60%;
	text-align: center;
}
.sta_lt span{
	float: left;
	width: 30%;
	text-align: center;
}
.line{
	float: left;
	width: 70%;
	height: 100%;
	box-sizing:border-box;
	padding-right: 30px;
}
.line i{
	box-sizing:border-box;
	display: inline-block;
	width:100%;
	height: 5px;
	background-color: #cbcccc;
	border-radius: 50px; 
	overflow: hidden;
	border-left: none;
}
.line .color_line{
	height: 100%;
	display: block;
	float: left;
}
.red_one_line{
	width: 80%;
	background-color:#ff5722; 
}
.red_two_line{
	width: 70%;
	background-color: #ff9800;
}
.red_three_line{
	width: 60%;
	background-color: #ffeb3b;
}
.blue_one_line{
	width: 54%;
	background-color: #03a9f4;
}
.blue_two_line{
	width: 50%;
	background-color: #03a9f4;
}
.blue_three_line{
	width: 47%;
	background-color: #03a9f4;
}
.blue_four_line{
	width: 40%;
	background-color: #03a9f4;
}
.blue_five_line{
	width: 35%;
	background-color: #03a9f4;
}
.blue_six_line{
	width: 30%;
	background-color: #03a9f4;
}
.blue_seven_line{
	width: 26%;
	background-color: #03a9f4;
}
































































































































































































